<mat-card class="login-form">
  <div class="login-headeßßßr text-center">
    <app-logo size="large"></app-logo>
    <h1 class="app-name">Logit</h1>

    <h2>Welcome Back</h2>
    <p>Please reset your password</p>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="togglePassword('password')" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()" class="password-toggle-button" type="button">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (resetForm.get('password')?.hasError('required')){
      <mat-error>Password is required</mat-error>
      }
      @if (resetForm.get('password')?.hasError('pattern')) {
      <mat-error>Password must be at least 8 characters long, including an uppercase letter, lowercase letter, a number,
        and a special character.</mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="confirmPassword" required>
      <button mat-icon-button matSuffix (click)="togglePassword('confirmPassword')" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()" class="password-toggle-button" type="button">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (resetForm.get('confirmPassword')?.hasError('required')){
      <mat-error>Confirm password is required</mat-error>
      }
      @if (resetForm.hasError('passwordMismatch')) {
      <mat-error>Passwords do not match</mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="resetForm.invalid">
      Change password
    </button>
  </form>

  <div class="text-center mt-2">
    <a mat-button color="accent" [routerLink]="['/login']">Login</a>
    <a mat-button color="accent" [routerLink]="['/registration']">Register?</a>
  </div>
</mat-card>