   <mat-card class="login-form">
    <div class="login-header text-center">
      <app-logo size="large"></app-logo>
      <h1 class="app-name">Logit</h1>
  
      <h2>Signup</h2>
    </div>
  
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="togglePassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()"
        class="password-toggle-button" type="button">
          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(registerForm.controls['password'].hasError('required')){
          <mat-error>Password is required</mat-error>
        }
        @if (registerForm.controls['password'].hasError('pattern') ){
          <mat-error>Password must contain at least 8 characters, including uppercase, lowercase, number, and special character.</mat-error>
        }
      </mat-form-field>

      <mat-checkbox formControlName="terms" required>
        I agree to the <a href="/end-user-agreement" target="_blank">terms and conditions</a> and <a href="/privacy-statement" target="_blank">privacy policy</a>
      </mat-checkbox>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  
    <div class="text-center mt-2">
      <p>Already have an account? <a mat-button color="accent"  [routerLink]="['/login']">Login</a></p>
    </div>
  </mat-card>