<div class="container mt-5 d-flex justify-content-center">
    <div class="content">
      <h1><span class="material-icons">gavel</span> End User License Agreement</h1>
      <p>Effective Date: 02-17-2025</p>
      
      <h3>1. Introduction</h3>
      <p>This End User License Agreement ("Agreement") is a legal agreement between you and {{ appName() }} regarding the use of our application.</p>
      
      <h3>2. License Grant</h3>
      <p>{{ appName() }} grants you a non-exclusive, non-transferable, revocable license to use the application for personal and business purposes, subject to the terms of this Agreement.</p>
      
      <h3>3. Restrictions</h3>
      <ul>
          <li>You may not modify, reverse engineer, or distribute the application.</li>
          <li>You may not use the application for any illegal or unauthorized purposes.</li>
      </ul>
      
      <h3>4. Ownership</h3>
      <p>All rights, titles, and interests in the application remain with {{ appName() }}. This Agreement does not grant you any ownership rights.</p>
      
      <h3>5. Termination</h3>
      <p>{{ appName() }} reserves the right to terminate this Agreement if you fail to comply with its terms. Upon termination, you must cease using the application.</p>
      
      <h3>6. Disclaimer of Warranties</h3>
      <p>The application is provided "as is" without warranties of any kind. {{ appName() }} disclaims all warranties, including implied warranties of merchantability and fitness for a particular purpose.</p>
      
      <h3>7. Limitation of Liability</h3>
      <p>{{ appName() }} shall not be liable for any damages arising from the use or inability to use the application.</p>
      
      <h3>8. Governing Law</h3>
      <p>This Agreement shall be governed by and construed in accordance with the laws of India.</p>
      
      <h3>9. Contact Information</h3>
      <p>If you have any questions about this Agreement, please contact us at support&#64;{{ appName() }}.com.</p>
    </div>
  </div>