body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #007bff;
}
.material-icons {
    vertical-align: middle;
}