:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2196F3 0%, #009688 100%);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-left: 2rem;
  padding-right: 2rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.app-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
}


button {
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
}

.password-toggle-button {
  margin: 0;
  padding: 0;
}