<div class="calendar-container">
  <div class="calendar-header">
    {{ currentMonth }}
  </div>

  <div class="calendar-grid">
    @for (day of daysInMonth(); track day.date) {
    <div class="calendar-day" [class.today]="isToday(day.date)" [class.selected]="isSelected(day.date)"
      (click)="selectDate(day.date)">
      <span class="date-number">{{ day.date | date: 'd' }}</span>

      @if(day.eventTypes.length > 0) {
      <div class="event-counts">
        @for (event of day.eventTypes; track event.category_id){
        <div class="event-type" [ngClass]="event.color">
       {{ event.name }} --- {{ event.color }} --- {{ event.count }}
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
</div>