<div class="calendar-container">
  <div class="calendar-header">
    {{ currentMonth }}
  </div>

  <div class="calendar-grid">
    <div 
      *ngFor="let day of daysInMonth" 
      class="calendar-day" 
      [class.today]="isToday(day.date)" 
      [class.selected]="isSelected(day.date)" 
      (click)="selectDate(day.date)"
    >
      <span class="date-number">{{ day.date | date: 'd' }}</span>

      <div class="event-counts" *ngIf="day.eventTypes.length > 0">
        <div *ngFor="let event of day.eventTypes" class="event-type" [ngClass]="event.type">
          {{ event.count }} {{ event.type }}
        </div>
      </div>
    </div>
  </div>
</div>
