<header class="header">
  <div class="header-left">
      <app-logo size="small" style="padding-bottom: 1rem;"></app-logo>
      <h1 class="app-name">{{appName()}}</h1>
  </div>

  <div class="header-right">
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <lucide-icon [img]="User" class="profile-icon"></lucide-icon> 
    </button>
    <mat-menu #profileMenu="matMenu" class="custom-menu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    </div>
</header>
