@if(!checkemail()){

<mat-card class="login-form">
    <div class="login-header text-center">
      <app-logo size="large"></app-logo>
      <h1 class="app-name">{{appName()}}</h1>
  
      <h2>Reset Password</h2>
      <p>Enter the email address you use to sign in.</p>
    </div>
  
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="resetForm.get('email')?.invalid">Valid email is required</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="resetForm.invalid">
        Get Password Reset Link
      </button>
    </form>
    <div class="text-center mt-2">
        <a mat-button color="accent" [routerLink]="['/login']" >Back to Sign In</a>
      </div>
  </mat-card>
} @else {
  <mat-card class="login-form">
    <div class="login-headeßßßr text-center">
      <app-logo size="large"></app-logo>
      <h1 class="app-name">{{appName()}}</h1>
  
      <h2>Reset Password</h2>
      <p>{{checkEmailMessage()}}</p>
    </div>
    <div class="text-center mt-2">
        <a mat-button color="accent" [routerLink]="['/login']" >Back to Sign In</a>
      </div>
  </mat-card>
}